# config file for ansible -- https://ansible.com/
# ===============================================

[defaults]
inventory		    = ./inventory
roles_path		    = ./roles
host_key_checking	= False
action_warnings		= False
log_path		    = /tmp/ansible.log
ansible_managed		= Ansible Managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

[ssh_connection]
pipelining		    = True
control_path		= /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args		    = -o ControlMaster=auto -o ControlPersist=60s